@import "../../../commonVariable.scss";

.bookingFastTitle {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 25px;

  h2 {
    color: $colorPrimaryText;
    font-weight: 500;
    font-size: 2.8rem;
  }
}
