.bookingSelectMovieContainer {
  margin: auto;
  padding: 40px 0;
  width: 1100px;
  height: 856.4px;
  box-sizing: border-box;
}

.calendarsContainer {
  display: flex;
  align-items: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #d8d9db;
  width: 1100px;
}

.bookingInfoLists {
  display: flex;
}
