@import "../../../../commonVariable.scss";

.linkContainer {
  width: 100%;
  background-color: $colorMain;
}

.mainLinkLayout {
  width: 1100px;
  margin: 0 auto;
  background-color: $colorMain;
}
.mainLink {
  width: 1100px;
  height: 132.5px;
  margin: 0 auto 60px auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  li {
    width: 220px;
    height: 82.5px;
    color: $colorWhite;
    background-repeat: no-repeat;
    padding-top: 82.5px;
    span {
      width: 220px;
      height: 22.5px;
    }
  }
}

.linkVIP {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-vip-main.png");
  background-position: center;
}

.linkMember {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-membership-main.png");
  background-position: center;
}

.linkCard {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-card-main.png");
  background-position: center;
}

.linkEvent {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-event-main.png");
  background-position: center;
}

.linkStore {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-store-main.png");
  background-position: center;
}

.grandOpeningLayout {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  color: $colorWhite;
  border-top: 1px solid #5c419d;
  .mainLinkHeaderWrap {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    h3 strong {
      font-size: 1.6em;
      margin: 0 auto;
    }
    .openingTheaters {
      display: flex;
      margin: 0;
      padding: 0;
    }
  }
}

.openInfor {
  position: relative;
  width: 204px;
  height: 204px;
  margin: 0 35px;
  padding: 0;
  font-size: 15px;
  background-image: url("https://www.megabox.co.kr/static/pc/images/theater/bg-theater-new.jpg");
  border-radius: 50%;
  text-align: center;
  span em {
    display: inline-block;
    min-width: 75px;
    margin: 0 auto 16px;
    padding: 2px 4px 0px 0;
    line-height: 25px;
    color: $colorWhite;
    background: $colorSub;
  }
}

.openingTheaters .openInfor:hover {
  background-image: initial;
  background-color: white;
  color: $colorSub;
}
.openInforText {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 155px;
  padding-top: 20px;
}
