@import "../../../../common.scss";

.mainBoxOfficeLayout {
  height: 830px;
  background: $colorGray33;
}

.mainBoxOffice {
  
  width: 1100px;
  height: 830px;
  margin: 0 auto;
  
}

.mainBoxOfficeHeader {
  position: relative;
  padding-top: 100px;
  h2 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $colorWhite;
    font-size: 17px;
    border-bottom: 1px solid $colorGrayD8;
  }
  .boxOfficeMoreMovie {
    position: absolute; 
    right: 0;
    top: 80px;
    color: $colorGrayD8;
  }
}

.mainMoviesWrap {
  display: flex;
  justify-content: space-between;
  li {
    width: 245px;
    .boxOfficeMoviePoster {
      width: 245px;
      height: 352px;
      border-radius: 5px;
    }
  }
}

.boxOfficeBtnWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .boxOfficeBookingBtn {
    width: 160px;
    height: 36px;
    margin: 0;
    padding: 0;
  }
  .boxOfficeFavoriteBtn {
    width: 80px;
    height: 36px;
    padding: 0 5px;
    margin: 0;
  }
}

.boxOffice {
  font-size: 20px;
  padding-top: 79px;
  color: $colorWhite;
  text-align: center;
  border-bottom: 3px; 
}

.boxOfficeSubBarWrap {
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
  height: 75px;
  margin-top: 50px;
  padding-top: 23px;
  background: rgba(0,0,0,0.2);
  li {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $colorWhite;
    width: 275px;
    height: 30px;
    font-size: 15px;
  }
}

.boxOfficeSubBarWrap .boxOfficeSearchBarWrap {
  width: 200px; 
  border-bottom: 1px solid $colorGray66;
}

.boxOfficeSubBarWrap li span {
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.boxOfficeSubBarWrap .boxOfficeSearchBar {
  cursor: text;
  width: 170px;
  border: none;
  background-color: transparent;
}

.iconSearchBtn {
  width: 36px;
  height: 36px;
  margin: 7px 0;
  background-repeat: no-repeat;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
}

.iconSchedule {
  width: 24px;
  height: 30px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png);
}

.iconBoxOffice {
  width: 26px;
  height: 26px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-boxoffice-main.png);
}

.iconBoxOfficeBooking {
  width: 29px;
  height: 25px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-quick-reserve-main.png);
}

.boxOfficeSearchBarText {
  line-height: 31px;
}