@import "../../../../common.scss";

.mainBoxOfficeLayout {
  height: 830px;
  background: $colorGray33;
}

.boxOfficeHeader {
  position: relative;
  background-color: red;
}

.mainBoxOffice {
  width: 1100px;
  height: 830px;
  margin: 0 auto;
  h2 {
    display: inline-block;
    margin: 80px 0 20px 0;
    height: 24px;
    color: $colorWhite;
    font-size: 17px;
    border-bottom: 1px solid $colorGrayD8;
  }
}

.mainMoviesWrap {
  display: flex;
  justify-content: space-between;
  li {
    width: 245px;
    height: 398px;
  }
  .boxOfficeMoviePoster {
    width: 245px;
    height: 352px;
    border-radius: 5px;
  }
}

.boxOfficeBtnWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.boxOfficeBtnWrap .boxOfficeBookingBtn {
  width: 160px;
  height: 36px;
  margin: 0;
  padding: 0;
  span {
    background-color: burlywood;
  }
}
.boxOfficeBtnWrap .boxOfficeFavoriteBtn {
  background-color: brown;
  width: 68px;
  height: 34px;
  padding: 0 5px 0 5px;
  margin: 0;
}

// .boxOfficeFavoriteBtn {
//   background-color: yellow;
//   width: 68px;
//   height: 34px;
//   margin: 0;
//   padding: 0 5px;  
//   color: $colorWhite;
//   .boxOfficeFavoriteScore {
//     background-color: blue;
//     margin-left: 7px;
//     font-size: 17px;
//   }
// }
// .boxOfficeBookingBtn {
//   background-color: blueviolet;
//   width: 160px;
//   height: 36px;
//   margin: 0;
//   padding: 0;
// }  
// .mainMovieList {
//   width: 1100px;
//   height: 398px;
// }

.boxOffice {
  font-size: 20px;
  padding-top: 79px;
  color: $colorWhite;
  text-align: center;
  border-bottom: 3px; 
}

.boxOfficeSearchBarWrap {
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
  height: 52px;
  margin-top: 50px;
  padding-top: 23px;
  background: rgba(0,0,0,0.2);
  li {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $colorWhite;
    width: 275px;
    height: 30px;
    font-size: 15px;
    background-color: cadetblue;
  }
}

.boxOfficeSearchBarWrap li span {
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.boxOfficeSearchBar {
  width: 170px;
}

.iconSearchBtn {
  width: 20px;
  height: 20px;
  margin: 7px 0 0 5px;
  background-repeat: no-repeat;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
}

.iconSchedule {
  width: 24px;
  height: 30px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png);
}

.iconBoxOffice {
  width: 26px;
  height: 26px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-boxoffice-main.png);
}

.iconBoxOfficeBooking {
  width: 29px;
  height: 25px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-quick-reserve-main.png);
}

.boxOfficeSearchBarText {
  line-height: 31px;
}