#BookingSelectSeat {
  border-top: 1px solid #000;
  h3 { display: inline-block; }
  #BookingSeatWrap {
    border: 1px solid #d8d9db;
  }
}

#bookingSeatReset {
  span{
    padding-left: 1.5em;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-reset-small.png) no-repeat;
  }
}

#bookingPersonalSetting {
  display: flex;
  flex-direction: row wrap;
  padding: 10px 0 10px 20px;
  background-color: #f2f4f5;
}

.personalCounter {
  display: inline-block;
  select {
    width: 50px;
  }
}

#bookingSeatList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 644px;
  margin: 30px 0;
  padding: 40px 0;
  background: url(https://megabox.co.kr/static/pc/images/reserve/img-theater-screen.png) no-repeat center top;
  position: relative;

  * {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  & > ul > li {
    margin: 3px 0;
    line-height: 14px;
  }

  #listRowName {
    margin-right: 30px;
    li {
      width: 18px;
      height: 18px;
      font-size: .7333em;
      border: 1px solid #ccc;
      background-color: #fff;
    }
  }

  #listRow {
    .listSeat{
      display:flex;
      flex-flow: row wrap;
      padding-right: 48px;
      li {
        width: 20px;
        height: 18px;
        font-size: .7333em;
        color: #fff;
        border: 1px solid #02bfd3;
        background-color: #747474;
      }
    }
  }
}