#BookingSelectSeat {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;

  h3 { display: inline-block; }

  & > div {
    width: 770px;
    border-top: 1px solid #000;
  }
  #BookingSeatWrap {
    border: 1px solid #d8d9db;
  }
}

#bookingSeatReset {
  span{
    padding-left: 1.5em;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-reset-small.png) no-repeat;
  }
}

#bookingPersonalSetting {
  display: flex;
  flex-direction: row wrap;
  padding: 10px 0 10px 20px;
  background-color: #f2f4f5;
}

.personalCounter {
  display: inline-block;
  select {
    width: 50px;
  }
}

#bookingSeatList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 644px;
  margin: 30px 0;
  padding: 40px 0;
  background: url(https://megabox.co.kr/static/pc/images/reserve/img-theater-screen.png) no-repeat center top;
  position: relative;

  * {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  & > ul > li {
    margin: 3px 0;
    line-height: 14px;
  }

  #listRowName {
    margin-right: 30px;
    li {
      width: 18px;
      height: 18px;
      font-size: .7333em;
      border: 1px solid #ccc;
      background-color: #fff;
    }
  }

  #listRow {
    .listSeat{
      display:flex;
      flex-flow: row wrap;
      padding-right: 48px;
      li {
        width: 20px;
        height: 18px;
        font-size: .7333em;
        color: #fff;
        border: 1px solid #02bfd3;
        background-color: #747474;
      }
    }
  }
}

.bookingInfo {
  display: flex;
  flex-flow: column nowrap;
  width: 310px;
  background-color: #333;
  border-radius: 10px;

  * {
    padding: 0;
    margin: 0;
  }

  // 영화 선택 정보
  .bookingInfoList {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    width: 100%;
    padding: 15px 20px 10px;
  }

  .bookingInfoList > li {
    font-size: .8667em;
    color: #c4c4c4; 
    
    &:nth-child(-n+2) {
      padding: 10px 0;
      border-bottom: 0;
      border-bottom: 1px solid #434343;
    }
  }

  .bookingMovieTitle {
    span {
      padding-left: 1.5em;
      font-size: 1.1em;
      font-weight: 400;
      color: #fff;
    }
    
    span.ageAll {
      background: url("https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-all.png") 0px center / auto 80% no-repeat;
    }

    span.age7 {
      background: url("https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-7.png") 0px center / auto 80% no-repeat;
    }

    span.age12 {
      background: url("https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-12.png") 0px center / auto 80% no-repeat;
    }

    span.age15 {
      background: url("https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-15.png") 0px center / auto 80% no-repeat;
    }

    span.age19 {
      background: url("https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-19.png") 0px center / auto 80% no-repeat;
    }
  }

  // 영화관 및 영화 정보
  .bookingDetailInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;

    img {
      width: 70px;
    }
  }

  // 예매 좌석 정보
  .bookingSeatInfo {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #434343;
    border-radius: 10px;
  }

  // 좌석 정보
  .seatInfo {
    $liHeight : 16px;
    
    width: 56%;
    padding: 16px 20px;
    font-size: .95em;
    line-height: $liHeight;

    li {
      height: $liHeight;
      padding-left: 24px;
      margin: 4px 0;
    }

    li:nth-child(1) {
      background: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-choice.png") 0px 0px / auto 100% no-repeat;
    }

    li:nth-child(2) {
      background: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-finish.png") 0px 0px / auto 100%  no-repeat;
    }

    li:nth-child(3) {
      background: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-impossible.png") 0px 0px / auto 100%  no-repeat;
    }

    li:nth-child(4) {
      background-image: linear-gradient(90deg, #444 0%, #444 100%);
      background-position: 0 0, 25px 25px;
      background-size: $liHeight $liHeight;
      background-repeat: no-repeat;
    }

    li:nth-child(5) {
      background: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-common.png") 0px 0px / auto 100%  no-repeat;
    }

    li:nth-child(6) {
      background: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-disabled.png") 0px 0px / auto 100%  no-repeat;
    }
  }

  // 선택좌석
  .selectedSeatInfo {
    width: 45%;
    padding: 10px 14px;
    font-size: .9em;
    text-align: center;
    border-left: 1px solid #434343;
  }

  .selectedSeat {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 18px;

    li {
      width: 44%;
      height: 35px;
      margin-bottom: 8px;
      line-height: 34px;
      border: 1px solid #5c5c5c;
    }
  }

  .bookingTotalPrice{
    display: flex;
    flex-flow: row nowrap;
    margin-top: auto;

    span:first-child {
      margin-right: auto;
    }
  }

  // 이전 다음 버튼
  button {
    width: 50%;
    font-size: 1.2em;
    font-weight: 400;
    border: 0;

    &.pre {
      color: #fff;
      border-radius: 0 0 0 10px;
      background-color: #53565b;
    }

    &.next {
      color: #aaa;
      background-color: #e0e0e0;
      border-radius: 0 0 10px 0;
      cursor: default;
    }

    &.next[ disabled ] {
      color: #fff;
      background-color: #329eb1;
      cursor: pointer;
    }
  }
}