@import "../../../commonVariable.scss";

$checkBoxSize: 14px;

#userId,
#userPw {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 10px;
}

.saveIdWrap.inputWrap {
  margin: 0;
  font-size: 1.4rem;
  text-align: left;

  & #saveId {
    width: $checkBoxSize;
    height: $checkBoxSize;
    margin-top: -7px;
  }

  & label {
    padding-left: 20px;
  }
}

.btnLogin.btn {
  width: 100%;
  margin: 35px 0 20px;
  border-color: $colorMain;
  color:$colorWhite;
  background-color: $colorMain;

  &:hover {
    border-color: $colorMainDark;
    background-color: $colorMainDark;
  }
  
  &[disabled] {
    border-color: $ligthBorder;
    color:$colorGray66;
    background-color: $colorGrayEa;
    cursor: default;
  }
}

.btnFindIdPw,
.btnSignUp {
  font-size: 1.5rem;
  color:$colorLightText;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.btnFindIdPw {
  margin-right: 70px;
}