@import "../../../common.scss";
@import "../../../commonVariable.scss";

.signWrap{
  padding: 40px;
  background: $whiteGrayBg;
}

.signUpSec {
  width: 427px;
  padding: 32px 40px 50px;
  margin: auto;
  border: 1px solid $border;
  border-radius: 8px;
  background-color: $colorWhite;
  text-align: center;

  & div.inputWrap {
    position: relative;
    margin: 0 0 28px;
  }

  & .inputWrap label {
    width: 100%;
    margin-bottom: 4px;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: $colorMain;
    text-align: left;
  }

  & input.input {
    width: 100%;
    margin-right: 0;
    font-size: 1.5rem;
  }
  .alertText {
    position: absolute;
    bottom: -20px;
    left: 4px;
    font-size: 1.2rem;
    color: $colorRed;
  }
}

.textInfo {
  margin: 25px 0 30px;
}

.btnGoogleSignUp.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin:0 0 20px;
  padding: 0;
  span {
    flex-grow: 1;
    text-align: center;
  }
  .logo {
    flex-grow: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url("../../../images/google_logo.png") no-repeat center;
    background-size: 50%;
    border-right: 1px solid $border;
  }
}

.idWrap {
  input#id.input {
    padding-right: 72px;
  }

  .btn.btnCheckDouble {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 11px 10px 16px;
    margin: 0;
    font-size: 1.3rem;
    font-weight: $textBold;

    &[disabled] {
      color: $colorDisabledText;
      font-weight: $textMedium;
      cursor: default;
    }
  }
} 

.btnSignUp.btn {
  width: 100%;
  margin: 20px 0 0;

  &:hover{
    text-decoration: none;
  }

  &[disabled] {
    color: $colorDisabledText !important;
    background-color: $btnLightGray;
    border-color: $btnLightGray;
    cursor: default;
  }
}

.rules {
  font-size: 1.2rem;
}

.genderWrap {
  $labelHeight: 40px;

  & span.genderTitle {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: $colorMain;
    text-align: left;
  }
  & label.radioLabel {
    width: 50%;
    height: $labelHeight;
    text-align: center;
    line-height: $labelHeight;
    border: 1px solid $border;
    cursor: pointer;
  }
} 