@import "../../../common.scss";
@import "../../../commonVariable.scss";

.signWrap{
  padding: 40px;
  background: $whiteGrayBg;
}

.signUpSec {
  position: relative;
  width: 480px;
  margin: auto;
  padding: 48px 40px 56px;
  border: 1px solid $border;
  border-radius: 8px;
  background-color: $colorWhite;
  text-align: center;
  .omega_logo {
    display: inline-block;
    width: 120px;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: none;
  }
  & div.inputWrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 28px;
    // padding-left: 12px;
    // background-color: $colorWhite;
    // border: 1px solid $border;
    // border-radius: 4px;
  }

  & .inputWrap label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: $colorMain;
    text-align: left;
    &::after {
      padding-left: 4px;
      content: "*";
      font-size: 1.2rem;
      color: $colorRed;
    }
  }
  & input.input {
    flex-grow: 1;
    width: 100px;
    margin-right: 0;
    font-size: 1.6rem;
    // border-color: $colorWhite;
    &.alert {
      border-color: $colorRed;
    }
  }
  .alertText {
    position: absolute;
    bottom: -24px;
    left: 4px;
    font-size: 1.2rem;
    color: $colorRed;
  }
}

.textInfo {margin: 0 0 32px;}
.googleSignUp {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $border;
  &::after {
    position: absolute;
    bottom: -11px;
    content: "또는";
    padding: 0 16px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: $colorWhite;
  }
}
.btnGoogleSignUp.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  span {
    flex-grow: 1;
    text-align: center;
  }
  .logo {
    flex-grow: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url("../../../images/google_logo.png") no-repeat center;
    background-size: 50%;
    border-right: 1px solid $border;
  }
}

.idWrap {
  input#id.input {
    padding-right: 72px;
  }

  .btn.btnCheckDouble {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 11px 10px 14px;
    margin: 0;
    font-size: 1.3rem;
    font-weight: $textBold;

    &[disabled] {
      color: $colorDisabledText;
      font-weight: $textMedium;
      cursor: default;
    }
  }

  div.passibleId {
    color: $colorSub;
  }
} 

.btnSignUp.btn {
  width: 100%;
  margin: 20px 0 0;

  &:hover{
    text-decoration: none;
  }

  &[disabled] {
    color: $colorDisabledText !important;
    background-color: $btnLightGray;
    border-color: $btnLightGray;
    cursor: default;
  }
}

.rules {
  font-size: 1.2rem;
}

.btn.btnClosed {
  position: absolute;
  top: 24px;
  right: 24px;
}