.mainBoxOfficeLayout {
  height: 830px;
  
}
.mainImg {
  color: rgb(68, 68, 68);
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0;
  filter: blur(15px);
  z-index: 3;
}

.mainBoxoffice {
  width: 1250px;
  height: 830px;
  margin: 0 auto;
}

.boxOffice {
  font-size: 20px;
  padding-top: 79px;
  color: #fff;
  text-align: center;
  border-bottom: 3px; 
}

.mainSearchBar {
  width: 1250px;
  margin-top: 50px;
  padding-top: 23px;
  div {
    color: white;
    box-sizing: border-box;
    display: inline-block;
    width: 275px;
    height: 30px;
    padding-top: 23px;
    background-color: rgba(0,0,0,0.2);
    font-size: 20px;
  }
}
.iconSchedule {
  width: 35px;
  height: 26px;
  color: red;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-main.png);
}

.searchBar {
  width: 170px;
}

.searchBtn {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png), 100%;
}