@import "../../../common.scss";

.mainCurationLayout {
  background: $colorMainDark;
  min-height: 840px;
  color: $colorWhite;
  
}

.mainCuration {
  width: 1250px;
  margin: 0 auto;
}

.mainHeader {
  height: 30px;
  font-size: 20px; 
  padding: 50px 0 40px 0;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;

  div {
    color: $colorGray66;
  }
}

.curationPoster {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.curationImg {
  width: 300px;
  height: 430px;
  margin-right: 40px;
  border-radius: 15px;
  
}

.filmSociety {
  width: 123px;
  height: 125px;
  background-image: url(https://www.megabox.co.kr/static/pc/images/main/bg-bage-curation-film.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -10px;  
}

.comment {
  h3 {
    font-size: 40px;
  }
}
.comment p {
  font-size: 18px;
}

.storySummary {
  border-top: $colorGrayF5 1px solid;
  padding: 15px;
}


.posterWrap {
    display: flex;
    justify-content: space-around;
    figure { 
      margin: 7px 0 0 0;
      padding: 0;
    figcaption {
      text-align: center;
      font-size: 19px;
      width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.posterWrap figure img {
  border-radius: 5px;
  width: 200px;
  height: 280px;
}