@import "../../../commonVariable.scss";

main.notFound {
  width: 800px;
  margin: 40px auto 100px;
  text-align: center;
  h2 {
    margin: 32px 0 16px;
    font-size: 2.4rem;
    font-weight: 400;
    color: $colorMain;
  }
  button.btn.regular {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.6rem;
  }
}

.customerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
  padding: 24px 8px 0;
  border-top: 1px solid $border;
  h3, p {
    font-size: 1.8rem;
    color: $colorMain;
    line-height: 1;
  }
  h3 {
    margin: 0 8px;
    font-weight: 500;
  }
  p {
    font-weight: 400;
  }
}