@import "../../commonVariable.scss";

main {
  width: 1100px;
  margin: auto;
  padding: 40px 0;
}

/* mypage common style */
a {
  display: inline-block;
}

.bullet li,
p.bullet {
  position: relative;
  padding-left: 24px;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: $colorDisabledText;
  }
}
p.bullet {
  padding-left: 16px;
}
p.bullet::before {
  left: 8px;
}

/* snb */
.snb {
  float: left;
  width: 200px;
  .title {
    width: 100%;
    padding: 32px 16px;
    font-size: 1.8rem;
    color: $colorWhite;
    text-align: center;
    background-image: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-lnb-tit.png");
    border-radius: 8px 8px 0 0;
  }
  a {
    width: 100%;
    padding: 10px 16px;
    font-weight: 500;
  }
  .navList {
    border: 2px solid $border;
    border-top: none;
    border-radius: 0 0 8px 8px;
  }
  .navList > li {
    border-bottom: 1px solid $border;
  }
  .navList > li:last-child {
    border-bottom: none;
  }
  .navList > li > a {
    color: $colorPrimaryText;
    background-color: $whiteGrayBg;
  }
  .subNavList {
    padding-top: 16px;
    padding-bottom: 16px;
    a {
      padding: 0 16px 0 0;
    }
  }
}

/* mypage content area common style */
.mypageDashBoard,
.bookingHistoryWrap,
.pointWrap,
.myMovieStoryWrap,
.confirmPassword,
.editUserInfo,
.editPassword,
.editOption {
  float: right;
  width: 840px;
}
.mypageTitle {
  margin-bottom: 24px;
  font-size: 2.8rem;
  font-weight: 500;
}

.subTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-bottom: 16px;
}
.titleText,
.subTitleWrap .titleText {
  font-size: 2.2rem;
  font-weight: 500;
  color: $colorMain;
}
.roundBox {
  padding: 16px 8px;
  border: 1px solid $border;
  border-radius: 8px;
}
.listCounter {
  margin-top: 24px;
  margin-bottom: 8px;
  padding-left: 4px;
  font-weight: 700;
  color: $colorPrimaryText;
  letter-spacing: 0.15em;
  span {
    color: $colorSub;
  }
}
table {
  width: 100%;
  border-top: 1px solid $darkBorder;
  thead {
    background-color: $whiteGrayBg;
    th {
      padding: 12px 4px;
      border-bottom: 1px solid $border;
    }
  }
  tbody {
    th {
      text-align: left;
      background-color: $whiteGrayBg;
    }
    th,
    td {
      padding: 8px;
      border-bottom: 1px solid $border;
    }
  }
}
.paging {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  a {
    width: 32px;
    height: 32px;
    padding-top: 2px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    background-color: $colorSub;
    color: $colorWhite;
  }
}
.carousel {
  flex-grow: 1;
  display: flex;
  border: 1px solid $border;
  li {
    width: 11.111%;
  }
  button {
    width: 100%;
    height: 100%;
    padding-top: 4px;
    font-size: 1.8rem;
    color: $colorPrimaryText;
    text-align: center;
    border-bottom: 4px solid $colorWhite;
  }
  button.active {
    font-weight: 500;
    border-color: $colorMain;
  }
}
.btnWrap {
  width: 100%;
  padding-top: 32px;
  text-align: center;
}

.movieList {
  width: 100%;
}
.movieList .listNull {
  width: 100%;
  margin-top: -1px;
  padding: 80px 0;
  font-size: 1.8rem;
  text-align: center;
  border-top: 1px solid $darkBorder;
  border-bottom: 1px solid $border;
}
.movieItem {
  display: flex;
  align-items: center;
  padding: 24px 8px;
  .info {
    flex-grow: 1;
  }
  .poster img {
    width: 100%;
  }
}
.movieList .info li {
  display: flex;
  float: left;
  h5 {
    margin-right: 8px;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/* mypage Main */
.mypageDashBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .mypagePersnalInfo,
  .mypageBookingHistory {
    width: 100%;
  }
  .mypageMovieStoryInfo,
  .mypagePreferenceInfo {
    width: 400px;
  }
  .mypageBookingHistory,
  .mypageMovieStoryInfo,
  .mypagePreferenceInfo {
    margin-top: 70px;
  }
}
/* 개인정보 */
.mypagePersnalInfo {
  display: flex;
  justify-content: space-around;
  padding: 24px 8px;
  border-radius: 8px;
  background-color: $lightBg;
  .grade,
  .point,
  .likeTheater {
    padding: 0 24px;
  }
  .grade {flex-grow: 1;}
  .point {flex-grow: 0.7;}
  .grade {border-right: 1px solid $border;}
  .name {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 2.8rem;
    font-weight: 500;
    color: $colorPrimaryText;
  }
  .btnPersnalEdit {
    display: flex;
    align-content: center;
  }
  .point .subTitleWrap,
  .likeTheater .subTitleWrap {
    height: 28px;
    margin-bottom: 4px;
    padding-left: 8px;
    .titleText {
      font-size: 1.8rem;
      color: $colorPrimaryText;
    }
  }
  .point p {
    display: inline-block;
    width: 50%;
    padding: 0 8px;
  }
  .point .totalPoint {
    width: 100%;
    margin: 8px 0 16px;
    padding: 0 8px 8px;
    font-size: 2.8rem;
    color: $colorSub;
    border-bottom: 1px solid $border;
  }

  /* 선호 영화관 선택 삭제로 인한 미사용
  .likeTheater {
    flex-grow: 1;
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 24px;
      margin: 0;
      padding: 0;
    }
    ul {
      margin-top: 8px;
    }
    li {
      padding: 4px;
      counter-increment: number;
      &::before {
        content: counter(number);
        display: inline-block;
        margin-right: 8px;
        font-style: italic;
        font-weight: 700;
      }
    }
  } */
}

/* 선호 영화관 선택 삭제로 인한 미사용
.popupBox.likeTheater {
  width: 500px;
  height: 360px;
  .termWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    background-color: $whiteGrayBg;
    select {
      padding: 3px 8px;
    }
  }
  .selectList {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    li {
      width: 90px;
      height: 90px;
      margin: 0 8px;
      border: 1px solid $border;
      border-radius: 50%;
      background-image: url("https://img.megabox.co.kr/static/pc/images/reserve/bg-empty-cell-circle.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    li.selectComplete {
      position: relative;
      padding: 34px 0;
      text-align: center;
      background-color: $lightBg;
      background-image: initial;
      border: none;
      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        overflow: hidden;
        .icon {
          width: 22px;
          height: 22px;
        }
      }
    }
  }  
}
*/

.mypageMovieStoryInfo .subTitleWrap, .mypagePreferenceInfo .subTitleWrap {margin-bottom: 16px;}
.mypageMovieStoryInfo .movieStoryInfoList {display: flex;}
.mypageMovieStoryInfo li {flex-grow: 1;}
.mypageMovieStoryInfo a {
  display: block;
  text-align: center;
  font-weight: 500;
}
.mypageMovieStoryInfo .amount {
  display: block;
  font-size: 3rem;
  color: $colorSub;
}
.mypagePreferenceInfo .roundBox {
  padding: 18px 16px 19px;
}
.mypagePreferenceInfo li {
  padding: 4px 16px 4px 24px;
  font-weight: 500;
  color: $colorSub;
}
.mypagePreferenceInfo .bullet li::before {
  top: 14px;
}
.mypageBookingHistory .btnMore {
  display: flex;
  align-items: center;
}

/* mypageBookingHistory 무비리스트 */
.mypageBookingHistory .movieList {
  border-top: 1px solid $darkBorder;
}
.mypageBookingHistory .movieItem {
  border-bottom: 1px solid $border;
  .poster {
    width: 70px;
    margin-right: 24px;
    img {
      width: 100%;
    }
  }
  h5::after {
    content: ":";
    display: inline-block;
    margin-left: 8px;
  }
  .info .paymentDate,
  .info .theater,
  .info .viewingDate {
    width: 100%;
  }
  .info .paymentDate {
    padding-bottom: 8px;
    font-weight: 500;
  }
  .info .bookingNumber {
    font-weight: 500;
    color: $colorSub;
  }
  .info .bookingNumber::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 8px;
    background-color: $border;
  }
}

/* 예매내역 */
.bookingHistoryWrap .bookingHistory,
.bookingHistoryWrap .bookingCancel,
.bookingHistoryWrap .useInfo {
  width: 100%;
}
.bookingHistoryWrap .bookingCondition {
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: $whiteGrayBg;
  .btnTermSorting {
    display: flex;
    align-items: center;
    margin-left: 16px;
    button {
      margin: 0;
      &:nth-child(1) {
        border-radius: 4px 0 0 4px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        margin-left: -1px;
        border-radius: 0;
      }
      &:nth-child(4) {
        margin-left: -1px;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.bookingHistory .movieItem {
  align-items: flex-start;
  padding: 32px 24px 32px;
  border: 1px solid $border;
  border-radius: 8px;
  .poster {
    width: 135px;
    margin-right: 24px;
  }
  .info {
    position: relative;
    width: 615px;
  }
  .info li {
    padding: 4px 0;
  }
  .info .bookingNumber,
  .info .title {
    width: 100%;
  }
  .info .theater,
  .info .peopleCounter,
  .info .viewingDate,
  .info .viewingSeat,
  .info .paymentDate,
  .info .viewingDate,
  .info .point {
    width: 50%;
  }
  .info h5 {
    width: 80px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: right;
  }
  .info .peopleCounter h5,
  .viewingSeat h5 {
    width: 73px;
  }
  .info .point h5 {
    width: 90px;
  }
  .info p {
    font-size: 1.4rem;
  }
  .info .bookingNumber p {
    font-size: 1.6rem;
    color: $colorSub;
  }
  .info .paymentDate,
  .info .point {
    padding: 8px 0;
    background-color: $whiteGrayBg;
  }
  .info .paymentDate {
    border-radius: 8px 0 0 8px;
  }
  .info .point {
    border-radius: 0 8px 8px 0;
  }
  .info .btnWrap {
    position: absolute;
    bottom: -56px;
    justify-content: flex-end;
    margin-top: 12px;
  }
}

.bookingHistoryWrap .bookingCancel {
  margin-top: 64px;
  .cancelList td {
    text-align: center;
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 30%;
      text-align: left;
    }
    &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(4) {
      width: 23%;
    }
    &:nth-child(5) {
      width: 12%;
      text-align: right;
      color: $colorRed;
    }
  }
}
.bookingHistoryWrap .useInfo {
  margin-top: 64px;
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    color: $colorPrimaryText;
    font-weight: 500;
  }
  .explanation {
    padding: 24px 16px;
    & > ul {
      margin-top: 4px;
      margin-bottom: 24px;
    }
    li ul {
      margin: 4px 0 8px;
    }
    li li {
      padding-left: 16px;
    }
    li li:before {
      left: 4px;
      width: 6px;
      height: 1px;
    }
  }
}

/* 멤버십포인트 */

/* 나의 무비스토리 */
.myMovieStoryWrap .myMovieStoryTab {
  display: flex;
  & li {
    width: 25%;
    margin-left: -1px;
  }
  & li a {
    width: 100%;
    padding: 7px 8px 3px;
    font-weight: 500;
    text-align: center;
    border: 1px solid $border;
  }
  & li:nth-child(1) {
    margin-left: 0;
  }
  & li.active {
    background-color: $darkBg;
    color: $colorWhite;
    border: none;
  }
}
/* 무비타임라인 */
.timeLine .yearCarouselWrap {
  display: flex;
  width: 100%;
  margin: 32px 0;
  button {
    min-width: initial;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  button.btnPrev,
  button.btnNext {
    width: 31px;
    height: 50px;
    border: 1px solid $border;
  }
  button.btnPrev {
    margin-right: -1px;
    background: url("https://img.megabox.co.kr/static/pc/images/mypage/btn-timeline-prev.png")
      no-repeat center;
  }
  button.btnNext {
    margin-left: -1px;
    background: url("https://img.megabox.co.kr/static/pc/images/mypage/btn-timeline-next.png")
      no-repeat center;
  }
}
.timeLine .dateDivision {
  border-top: 1px solid $colorSub;
  .date {
    width: 120px;
    margin: -16px auto 0;
    padding: 6px 0 2px;
    text-align: center;
    border-radius: 16px;
    background-color: $colorSub;
    color: $colorWhite;
  }
}

.myMovieStoryWrap .timeLine .movieItem,
.myMovieStoryWrap .comment .movieItem {
  .poster {
    width: 90px;
    margin-right: 24px;
  }
  .info li {
    width: 100%;
    padding-top: 2px;
    padding-left: 8px;
  }
  .info .tag {
    margin-bottom: 8px;
    padding-left: 0;
  }
  .info .tag p {
    padding: 3px 16px 0;
    border: 1px solid $darkBorder;
    border-radius: 16px;
  }
  .info .title p {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .info .evalPoint p {
    margin-right: 8px;
    font-size: 2.4rem;
    font-weight: 500;
    color: $colorSub;
  }
  .info .evalPoint .hashTag {
    display: inline-block;
    padding: 6px 4px 0;
  }
  .info h5::after {
    content: ":";
    display: inline-block;
    margin-left: 8px;
  }
  .info .writeDate {
    width: 50%;
    padding-top: 8px;
  }
  .info .writeDate p {
    display: flex;
    align-content: center;
    span {
      margin-right: 4px;
    }
  }
  .info .btnWrap {
    float: right;
    width: initial;
    text-align: right;
    button {
      min-width: initial;
      height: 24px;
      margin-top: 6px;
      padding: 0 8px;
    }
  }
}
.comment .movieItem {
  align-items: flex-start;
}

.watched .movieList li {
  float: left;
}
.watched .watchedMovie {
  width: 49%;
  margin: 0 0.5%;
}
.watched .movieItem {
  position: relative;
  flex-wrap: nowrap;
  padding: 32px 24px 64px;
  border: 1px solid $border;
  border-radius: 8px;
  .poster {
    width: 90px;
    margin-right: 24px;
  }
  .info {
    flex-grow: 1;
    li {
      width: 100%;
      margin-right: 0;
      padding: 3px 0;
    }
    .title p {
      font-size: 1.8rem;
    }
  }
  .btnWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    margin: 0 0 -1px 0;
    padding: 0;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 40px;
      margin: 0;
      padding: 0;
      text-align: center;
      border-color: $border;
      &:nth-child(1) {
        border-width: 1px 0 0 0;
        border-radius: 0 0 0 8px;
      }
      &:nth-child(2) {
        border-width: 1px 0 0 1px;
        border-radius: 0 0 8px 0;
      }
      .icon {
        margin-right: 8px;
      }
    }
  }
}

.likeMovie .movieList li {
  float: left;
}
.likeMovie .wantMovie {
  width: 24%;
  margin: 0 0.5%;
}
.likeMovie .movieItem {
  flex-wrap: wrap;
  .info {
    margin: 0;
  }
  .poster,
  .info {
    width: 100%;
  }
  .info .title p {
    display: flex;
    align-content: center;
    margin-top: 8px;
    padding-top: 4px;
    font-size: 2rem;
  }
  .btnWrap {
    display: flex;
    margin-top: 8px;
    padding: 0;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 49%;
      flex-grow: 1;
      &:nth-child(1) {
        margin-left: 0;
        .icon {
          margin-right: 8px;
        }
      }
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}

/* mypageBookingHistory 무비리스트 */
.mypageBookingHistory .movieList {
  border-top: 1px solid $darkBorder;
}
.mypageBookingHistory .movieItem {
  border-bottom: 1px solid $border;
  .poster {
    width: 70px;
    margin-right: 24px;
    img {
      width: 100%;
    }
  }
  h5::after {
    content: ":";
    display: inline-block;
    margin-left: 8px;
  }
  .info .paymentDate,
  .info .theater,
  .info .viewingDate {
    width: 100%;
  }
  .info .paymentDate {
    padding-bottom: 8px;
    font-weight: 500;
  }
  .info .bookingNumber {
    font-weight: 500;
    color: $colorSub;
  }
  .info .bookingNumber::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 8px;
    background-color: $border;
  }
}

/* 한줄평 */

/* 본영화 */
.myMovieStoryWrap .watched {
  .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bullet li {
    padding-left: 16px;
    &::before {
      top: 10px;
      left: 4px;
    }
  }
}
/* 보고싶어 */
/* 비밀번호 확인 */
.confirmPassword section {
  text-align: center;
  & > div {
    margin-bottom: 32px;
    padding: 40px;
    border-top: 1px solid $darkBorder;
    border-bottom: 1px solid $border;
  }
  .notice {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 500;
  }
  input {
    display: block;
    width: 380px;
    margin: 24px auto 0;
  }
}

/* 개인정보 수정, 비밀번호 변경, 선택정보 수정 */
.editUserInfo table th,
.editUserInfo table td,
.editPassword table th,
.editPassword table td,
.editOption table th,
.editOption table td {
  padding: 16px;
}
.editUserInfo table th,
.editPassword table th,
.editOption table th {
  width: 180px;
}
.editPassword table {
  margin-bottom: 16px;
}
.editPassword .bullet li {
  padding-left: 16px;
  &::before {
    top: 10px;
    left: 4px;
  }
}

.editUserInfo .name button {
  margin: 0 8px;
}
.editUserInfo .email input {
  width: 100%;
}
.editUserInfo .password button,
.editUserInfo .memberOut button {
  margin: 0;
}

.editPassword input {
  width: 100%;
}
.editPassword .newPassword input {
  margin-bottom: 8px;
}
.editUserInfo .titleText {
  margin-top: 40px;
  margin-bottom: 8px;
}
.editOption li,
.genre {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    width: 60px;
  }
  select {
    width: 160px;
  }
}
.editOption .preferredTime {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 30%;
  }
}
