@import "../../../../common.scss";

.trailerWrap {
  width: 1100px;
  margin: 0 auto;
}

.trailerHeader {
  margin-top: 50px;
  color: $colorMain;
  border-bottom: 1px solid #ebebeb;
  font-weight: 400;
}

.videoWrap {
  
  padding-top: 50px;
  margin-bottom: 150px;
}
.trailerPlayer {
  margin: 0 auto;
}

.iconWrap {
  position: relative;
  li {
    width: 64px;
    height: 95px;
    background: no-repeat center;
    p {
      position: absolute;
      width: 64px;
      text-align: center;
      bottom: -20px;
      
    }
  }
  .prevIcon {
    position: absolute;
    top: 160px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-prev-circle.png);
  }
  .nextIcon {
    position: absolute;
    top: 160px;
    right: 0px;

    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-next-circle.png);
  }
}