@import "../../../../common.scss";


.movieVisual {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
  &::after, .movieBg, .movieInfo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .movieBg, .movieInfo {width: 1100px;}
  &::after {
    content: "";
    display: block;
    background: linear-gradient(to right,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);
  }
};

.movieVisual .movieBg {
  background-color: $colorBlack;
  img {
    width: 100%;
    opacity: .5;
  }
}


.movieVisual .movieInfo {
  z-index: 100;
  padding-top: 45px;
  color: $colorWhite;
  .summary {
    float: left;
    width: 800px;
    margin-right: 40px;
    button {
      justify-content: center;
      align-items: center;
      padding: 0 4px;
    }
    button.favorite .icon {margin-right: 4px;}
  }
  .posterButton {
    float: right;
    width: 260px;
    .poster {
      border-radius: 8px;
      overflow: hidden;
      img {width: 100%;}
    }
  }
}
.movieVisual .title {
  padding-top: 24px;
  font-size: 4.6rem;
  font-weight: 500;
  .engTitle {
    display: block;
    font-size: 2rem;
  }
}
.movieVisual .btnWrap {
  padding: 0;
  text-align: left;
  button {
    width: 100px;
    margin: 16px 8px 16px 0;
    color: $colorWhite;
  }
}
.movieVisual .eval {
  display: flex;
  margin-top: 140px;
  li {
    margin-right: 35px;
    .title {
      padding-bottom: 4px;
      font-size: 1.4rem;
      color: #ccc;
    }
    .rating, .bookingRate, .accCumlative {
      display: flex;
      align-items: center;
      font-size: 3.2rem;
      font-weight: 500;
      .smallTxt {
        padding: 8px 4px 0;
        font-size: 1.6rem;
        color: #ccc;
      }
    }
    .rating {color: $colorSubLight}
    &.acc .title {
      display: flex;
      align-items: center;
      span {margin-left: 4px;}
    }
  }
}
.movieVisual .posterButton button {
  width: 100%;
  margin: 16px 0;
}