@import "../../../commonVariable.scss";

.selectedInfoLighter {
  background-color: $colorGrayEa;
}

.bookingTheaterList {
  width: 350px;
  height: 530px;
  // box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  border: solid 1px $colorGrayEa;
}

.bookingTheaterList > .theaterLocationList {
  display: flex;
  margin-top: 10px;
  border: solid 1px $colorGrayEa;

  li {
    button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 28px;
      font-size: 1.3rem;
      text-align: left;
      font-weight: $textBold;
      padding-left: 1rem;
      border: none;
    }
  }

  .region {
    width: 250px;
    border-right: solid 1px $colorGrayEa;

    li.disabled {
      button {
        cursor: default;
      }

      span {
        color: $colorDisabledText;
      }
    }
  }
}

.localRegionTheater {
  width: 250px;
  height: 370px;
  overflow-y: scroll;
  scrollbar-color: $colorGray44 $colorGrayEa;
  scrollbar-width: thin;
  scrollbar-base-color: $colorGrayEa;
  // box-sizing: border-box;
  .theater.selectedTheater {
    background-color: $colorGray66;
    span {
      color: white;
    }
  }
  .theater.disabled {
    span {
      color: $colorDisabledText;
    }
    button {
      cursor: default;
    }
  }
}

.localRegionTheater::-webkit-scrollbar {
  width: 5px;
  background-color: $colorGrayEa;
  border-radius: 5rem;
}

.localRegionTheater::-webkit-scrollbar-thumb {
  background-color: $colorGray44;
  border-radius: 5rem;
}

.seletedTheaterLists {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  margin-top: 10px;
  font-size: 1.3rem;
  // box-sizing: border-box;

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: $colorGrayEa;
    border-radius: 50%;

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      line-height: 1;
      background-color: white;
      border: $border 1px solid;
      border-radius: 50%;
      background-image: url("https://img.megabox.co.kr/static/pc/images/reserve/btn-choice-dell-circle.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    .bigPlusMark {
      line-height: 3rem;
      font-size: 3rem;
    }

    span {
      display: inline-block;
      width: 70%;
      text-align: center;
    }
  }
}

.emptySeletedList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.4rem;
  }
}
