@import "../../../common.scss";

.bookingSeatList {
  margin: 30px 0;
  padding: 50px 0;
  text-align: center;
  background: url(https://megabox.co.kr/static/pc/images/reserve/img-theater-screen.png) no-repeat center top;

  .seatRowName {
    display: inline-block;
    width: 24px;
    margin-right: 20px;

    li {
      height: 24px;
      margin: 2px 0;
      font-size: 1.1rem;
      line-height: 20px;
      text-align: center;
      border: 1px solid $border;
    }
  }

  .seatRow {
    display: inline-block;
    padding-right: 44px;
    
    li {
      display: flex;
      margin: 2px 0;
    }

    button {
      min-width: initial;
      width: 28px;
      height: 24px;
      margin: 0 0 0 -1px;
      padding: 0;
      font-size: 1.2rem;
      border-width: 1px;
      border-style: solid;
      background-color: $bg;
      border-radius: 0;

      &[ disabled ] {
        opacity: 0;
        cursor: default;
      }
    }
  }

  &.type1 {
    .seatRow {
      button:nth-child(6),
      button:nth-child(12) {
        margin-right: 16px;
      }
    }
  }
}