@import "../../../commonVariable.scss";

.bookingTimeSchedules {
  width: 478px;
  height: 530px;
  border: solid 1px $ligthBorder;
  box-sizing: border-box;
  padding: 10px 0 20px 0;

  h3 {
    display: flex;
    padding: 0 20px 0 20px;
    align-items: center;
    justify-content: space-between;

    .checkEarlyBird {
      display: flex;
      align-items: center;

      #earlyBird {
        font-size: 13px !important;
        text-align: right;
        background-repeat: no-repeat;
      }
      span {
        margin-left: 4px;
        font-size: 13px !important;
        text-align: right;
      }
    }
  }
}
