// import "../../../common.scss"
@import "../../../common.scss";

.flatpickr-input {
  visibility: hidden;
  width: 0;
}

.calendarContainer {
  position: relative;
  width: 50px;
  height: 39px;
}

.calendarIconBtn {
  position: absolute;
  width: 50px;
  margin: 0;
  padding: 0;
  left: 0;
}

.calendarIcon {
  display: block;
  width: 50px;
  height: 39px;
  background: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-calendar-w20.png")
    no-repeat center;
  // background-color: black;
}

.flatpickr-current-month {
  background: $colorMainDark !important;
}
.flatpickr-weekdays {
  background: $colorMainDark !important;
}
.flatpickr-weekday {
  background: $colorMainDark !important;
  color: white !important;
}
.flatpickr-month {
  background: $colorMainDark !important;
}
.flatpickr-months {
  background: $colorMainDark !important;
}
.flatpickr-monthDropdown-months {
  background: $colorMainDark !important;
}
.flatpickr-monthDropdown-month {
  background: $colorMainDark !important;
}
.flatpickr-day.selected {
  color: white;
  background: $colorMainDark;
  border-color: $colorMainDark;
}
.flatpickr-day.selected:hover {
  color: white;
  background: $colorMainDark;
  border-color: $colorMainDark;
}
.flatpickr-day.nextMonthDay.selected {
  color: white;
  background: $colorMainDark;
  border-color: $colorMainDark;
}
.flatpickr-calendar.animate.arrowTop.rightMost.open:before {
  border: none !important;
  width: 100px;
}
