.slick-arrow.slick-next::before {
  color: #000 !important;
}

.slick-arrow.slick-prev::before {
  color: #000 !important;
}

.carouselCal {
  text-align: center;
}

.slick-current {
  border: 1px solid red;
}

.dododo {
  color: yellow !important;
}

.no {
  color: tomato !important;
}
