.slick-arrow.slick-next::before {
  color: #000 !important;
}

.slick-arrow.slick-prev::before {
  color: #000 !important;
}

.carouselCal {
  text-align: center;
}

.dododo {
  color: tomato !important;
  background-color: gray;
}
