@import "../../../commonVariable.scss";

.theaterMapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 530px;
  padding: 10px 20px 20px 20px;
  border: 1px solid $colorGrayEa;
}

.mapHeading {
  width: 100%;
}

.theaterMap {
  width: 550px;
  height: 372px;
  margin-top: 10px;
}

.theaterMapContainer > .moveBtnContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.theaterMapContainer .moveBtn {
  display: block;
  width: 48%;
  height: 50px;
  color: white;
  background-color: $colorMain;
}

.theaterMapContainer .moveBtn.goMain {
  display: block;

  width: 48%;
  height: 50px;
  color: white;
  background-color: $colorGray55;
}

.theaterMapContainer .moveBtn.disabled {
  display: block;

  width: 48%;
  height: 50px;
  background-color: $colorGrayEa;
  cursor: default;
}
