@import "../../../../commonVariable.scss";

main.event {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.pageTitle, main.event .recommendEvent .sectionTitleWrap, main.event .recommendEvent .eventContentWrap, main.event .megaPick {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.pageTitle {
  padding-bottom: 16px;
  font-size: 2.8rem;
  font-weight: 500;
  color: $colorPrimaryText;
}

.sectionTitleWrap, .indicator, .pagination {
  display: flex;
  align-items: center;
}
.sectionTitleWrap {
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 4px;
  .title {
    font-size: 2.4rem;
    font-weight: 500;
    color: $colorMain;
  }
  .pagination {margin-right: 8px;}
  .pagination li {
    width: 30px;
    height: 2px;
    background-color: $colorWhite;
    &.active {background-color: $colorMain;}
  }
  .btnPrev, .btnNext, .btnPause  {
    width: 8px;
    height: 12px;
    margin: 0 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btnPrev {
    margin-right: 2px;
    background-image: url("https://img.megabox.co.kr/static/pc/images/main/btn-benefit-slider-prev.png");
  }
  .btnNext {
    margin-left: 2px;
    background-image: url("https://img.megabox.co.kr/static/pc/images/main/btn-benefit-slider-next.png");
  }
  .btnPause {
    background-image: url("https://img.megabox.co.kr/static/pc/images/main/btn-benefit-slider-pause.png");
  }
  .eventCounter {
    margin-left: 12px;
    padding-top: 4px;
    padding-right: 8px;
    color: $colorMain;
    line-height: 1;
  }
}
.eventContent .eventTitle {font-size: 1.6rem;}
.eventContent .eventDate {
  font-size: 1.4rem;
  color: $colorLightText;
}
.eventContentWrap {
  height: 280px;
  overflow: hidden;
  .eventList li {display: inline-block;}
}

main.event .recommendEvent {
  position: relative;
  padding: 32px 0;
  background-color: $whiteGrayBg;
  .eventList {width: 1670px;}
  .eventList li {
    width: 530px;
    margin-right: 32px;
    &:last-child {margin-right: 0;}
  }
  button.btnLeft, button.btnRight {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: $colorWhite;
    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: .2);
  }
  .btnLeft {
    left: 50%;
    margin-left: -575px;
    background-image: url("https://img.megabox.co.kr/static/pc/images/event/btn-event-prev-off.png");
  }
  .btnRight {
    right: 50%;
    margin-right: -575px;
    background-image: url("https://img.megabox.co.kr/static/pc/images/event/btn-event-next-off.png");
  }
  .imgWrap {
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 4px 0 rgba($color: #000000, $alpha: .3);  
  }
  .eventContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 0;
  }
}


main.event .megaPick {
  padding: 40px 0;
  button.more {
    display: flex;
    align-items: center;
    line-height: 1;
  }
  .eventList {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
  }
  .eventList li {
    width: 22%;
    border: 1px solid $border;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .eventList .eventContent {
    padding: 24px;
    .eventTitle {
      height: 32px;
      margin-bottom: 8px;
      line-height: 1.2;
    }
  }
}