.headerLayout {
  width: 1250px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px;
  background-color: navy;
  font-size: 10px;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.mainNav {
  display: flex;
}

.mainLogo {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-white.png);
  width: 140px;
  height: 47px;
}

.mainLeftSide {
  order: -1;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 2.5em;
}

.menuBar {
  width: 36px;
  height: 36px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap-white.png);
  background-repeat: no-repeat;
}
.menuSearch {
  width: 36px;
  height: 36px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
  background-repeat: no-repeat;
}
.menuSchedule {
  width: 36px;
  height: 36px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png);
  background-repeat: no-repeat;
}
.menuMypage {
  width: 36px;
  height: 36px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega-white.png);
  background-repeat: no-repeat;
}

.mainRightSide {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 2.5em;
}