@import "../../../../commonVariable.scss";

/* 비밀번호 확인 */
.confirmPassword section {
  text-align: center;
  & > div {
    margin-bottom: 32px;
    padding: 40px;
    border-top: 1px solid $darkBorder;
    border-bottom: 1px solid $border;
  }
  .notice {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 500;
  }
  input {
    display: block;
    width: 380px;
    margin: 24px auto 0;
  }
}