/* main, sub, point color variation */
$colorMainDark: #252451;
$colorMain: #513396;
$colorMainLight: #6332d4;
$colorSubDark: #32627f;
$colorSub: #007b93;
$colorSubLight: #309eb0;
$colorPoint: #da3f31;

$colorBlue: #3b5fcb;
$colorRed: #e81002;

/* gray color variation */
$colorBlack: #000;
$colorGray33: #333;
$colorGray44: #444;
$colorGray55: #555;
$colorGray66: #666;
$colorGrayD8: #d8d8d8;
$colorGrayEa: #eaeaea;
$colorGrayF5: #f5f5f5;
$colorWhite: #fff;

/* text cololr */
$colorPrimaryText: #222;
$colorSecondaryText: #444;
$colorLightText: #666;
$colorDisabledText: #aaa;

/* bg, border, etc */
$dimdBg: transparentize($colorBlack, 0.7);
$whiteGrayBg: $colorGrayF5;
$lightBg: $colorGrayEa;
$darkBg: $colorGray44;
$deepDarkBg: $colorGray33;

$ligthBorder: $colorGrayEa;
$border: $colorGrayD8;
$darkBorder: $colorGray66;
$tab: $colorGray55;

$textBold: 700;
$textMedium: 500;
$textLight: 300;
